

.container {
    width:100vw;
    height:100vh;
}

.flex {
    display:flex;
    padding:100px 30px 20px;
    width:60%;
    margin:0 auto;
    color:#fff;
    text-align:center;
}

.cover {
    height: calc(100vh - 130px);
}

.contents {
    width:60%;
    padding:0 30px;
}

.title {
    font-size:32px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height:1.5;
    margin-bottom: 15px;
}

.year {
    font-size:16px;
    margin-bottom:30px;
}

.genres {
    opacity: 0.8;
    margin-bottom:40px;
}

.desc {
    width:400px;
    margin:0 auto;
    margin-bottom:30px;
    font-size:14px;
    line-height:1.5;
}

.arrow {
    margin:20px 0;
    animation-duration: 2s;
    animation-name: updown;
    animation-iteration-count: infinite;
}

@keyframes updown {
    from {
        margin-bottom:15px;
    }

    50% {
        margin-bottom:25px;
    }
    to {
        margin-bottom:15px;
    }
}

.url {
    color:#fff;
    line-height:1.5;
    opacity:0.8;
}

@media screen and (max-width: 720px) {

    .flex {
        display:block;
        padding:60px 0 0;
        width:100%;
        margin:0 auto;
        color:#fff;
        text-align:center;
    }
    
    .cover {
        height: calc(100vh - 60px);
    }
    
    .contents {
        width:100%;
        padding:25px;
    }
    
    .title {
        font-size:22px;
        letter-spacing: normal;
        margin-bottom: 10px;
    }
    
    .year {
        font-size:13px;
        margin-bottom:15px;
    }
    
    .genres {
        margin-bottom:20px;
    }
    
    .desc {
        width:90%;
        margin-bottom:20px;
        font-size:12px;
    }
    
    .arrow {
        animation:none;
        margin:10px 0;
    }

  }