@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.movie {
    font-weight: 300;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
  }
  
  .movie__img {
    width: 100%;
  }
  
  .movie__title,
  .movie__year {
    margin: 0;
    font-weight: 300;
    text-decoration: none;
  }
  
  .movie__title {
    margin: 5px 0;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    line-height:1.5;
    letter-spacing: 1.2px;
  }
  
  .movie__genres li,
  .movie__year {
    margin-bottom: 5px;
    font-size: 14px;
    color:#fff;
    opacity:0.6;
  }

  @media screen and (max-width: 720px) {
    .movie {
      padding: 10px;
    }
    
    .movie__title {
      margin: 5px 0;
      font-size: 12px;
    }
    
    .movie__genres li,
    .movie__year {
      margin-bottom: 5px;
      font-size: 11px;
    }
  
  }